/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.user_header {
	background-color: #26B0DE;
	margin-top: 20px;
	padding: 5px;
}

.user_login {
	float: right;
	margin-right: 10px;
	color: #fff;
}

.nav-collapse a {
	float: left;
	color: #000;
	display: block;
	font-size: 15px;
	font-weight: 300;
	padding: 15px 20px;
}

.nav-collapse a.new_test {
	color: #fff;
	margin: 5px;
	padding: 10px;
	background-color: #26B0DE;
	background-clip: padding-box;
	text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.form_area {
	width: 1170px;
	margin: 15px 40px;
}
