<h3>What Do You Want To Test?</h3>

<section>

  <ul class="thumbnails">
	  <li class="span2">
	    <a href="#" class="thumbnail">
	    	<h3>Single Page</h3>
	    	<small>landing page</small>
	    </a>
	  </li>
	  <li class="span2">
	    <a href="#" class="thumbnail">
	      <h3>Website</h3>
	    	<small>mobile + desktop</small>
	    </a>
	  </li>
	  <li class="span2">
	    <a href="#" class="thumbnail">
	      <h3>iOS</h3>
	    	<small>native app</small>
	    </a>
	  </li>
	  <li class="span2">
	    <a href="#" class="thumbnail">
	      <h3>Android</h3>
	    	<small>native app</small>
	    </a>
	  </li>
  </ul>
</section>